* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  height: 100vh;
  width: 100%;
}

.MuiTextField-root.urban_money_input,
.MuiButton-contained.urban_money_btn {
  margin-top: 20px;
}

.MuiButton-contained.urban_money_btn,
.MuiButton-contained.urban_money_filter_btn {
  background: linear-gradient(to bottom, #3EA467 25%, #0B90A5 75%);
  color: #fff;
}

.MuiButton-contained.urban_money_filter_btn {
  padding: 16px;
  border-radius: 0;
}

.MuiButton-contained.urban_money_filter_btn_color {
  color: #fff;
  background-color: #009D93;
  padding: 16px;
}

.MuiButton-outlined.urban_money_filter_btn_color {
  color: #009D93;
  border-color: #009D93;
  padding: 16px;
}

.MuiButton-contained.urban_money_filter_btn_color:hover {
  background-color: #009D93 !important;
}

.MuiButton-outlined.urban_money_filter_btn_color:hover {
  border-color: #009D93 !important;
}

.urban_money_contained_label {
  color: #fff !important;
}

.urban_money_outlined_label {
  color: #009D93 !important;
}

.image_label {
  top: 150px !important;
  left: 112px !important;
  color: #009D93 !important;
}

.image_border {
  border: 1px dashed grey;
  border-radius: 5px;
}

.MuiButton-contained.btn-border-radius {
  border-radius: 5px;
}

.urban-money-pagination {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.urban_money_ul .active.MuiListItem-button,
.urban_money_ul .MuiListItem-button:not(.active):hover {
  background: linear-gradient(to bottom, #3EA467 25%, #0B90A5 75%);
  color: #fff;
}

.urban_money_ul .active.MuiListItem-button .MuiListItemIcon-root,
.urban_money_ul .MuiListItem-button:not(.active):hover .MuiListItemIcon-root {
  color: #fff;
}

.urban_money_page_content {
  background: #fff;
  border-radius: 15px 0 0 15px;
  width: 100%;
}

.urban_money_page_title {
  padding: 20px;
  background: #009D93;
  color: #fff;
  border-radius: 15px 0 0 0;
}

.remove_border {
  border-radius: unset;
}

.urban_money_modal_title {
  padding: 10px;
  background: #009D93;
  border: 1px solid #009D93;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
}

.urban_money_modal_title h3 {
  margin: 0;
  color: #fff;
}

.urban_money_modal_content {
  background-color: #fff;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}

.m-0 {
  margin: 0 !important;
}

.m-15 {
  margin: 15px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-7 {
  margin-top: 7px !important;
}

.mt-10 {
  margin-top: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.p-20 {
  padding: 20px
}

.p-10 {
  padding: 10px
}

.p-0 {
  padding: 0 !important;
}

.urban_money_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px;
}

.w-300 {
  width: 300px;
}

.w-350 {
  width: 350px;
}

.w-250 {
  width: 250px;
}

.w-100 {
  width: calc(100% - 150px);
}

.w-950 {
  width: calc(100% - 950px)
}

.document_upload_modal input[type="file"] {
  opacity: 0;
}

.MuiInputLabel-root.css-1lwa3th-MuiFormLabel-root-MuiInputLabel-root {
  color: #009D93;
}

.MuiPaginationItem-outlinedSuccess.Mui-selected {
  color: #fff !important;
  background: linear-gradient(to bottom, #3EA467 25%, #0B90A5 75%);
}

.MuiTableSortLabel-icon{
  color: #009D93 !important;
}

.PrivateTabIndicator-colorSecondary-4 {
  background-color: #30978f !important;
}

.css-1ualgfl-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #3EA467 !important;
  border-width: 1.5px !important;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.urban_money_outlined_btn {
  color: #009D93 !important;
  border-color: #009D93 !important; 
}

.poppins_semi {
  font-family: PoppinsSemiBold !important;
}

.poppins_regular {
  font-family: PoppinsRegular !important;
}

.poppins_medium {
  font-family: PoppinsMedium !important;
}

.poppins_bold {
  font-family: PoppinsBold !important;
}

.MuiTabs-root.details_tab {
  padding: 5px;
}
.MuiTabs-root.details_tab .PrivateTabIndicator-colorSecondary-3 {
  background-color: unset !important;
}

.MuiTabs-root.details_tab .Mui-selected {
  color: #fff !important;
  background: transparent linear-gradient(180deg, #3EA467 0%, #0B90A5 100%) 0% 0% no-repeat padding-box;
  border-radius: 5px;
}

.tab-content.detail .MuiBox-root.css-19kzrtu {
  padding: 0
}

.white_div {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}
.urban_theme_btn {
  background: linear-gradient(to bottom, #3EA467 25%, #0B90A5 75%);
  color: #fff;
}

.urban_money_page_content_page {
  background: rgb(223, 254, 252);
  /* border-radius: 15px 0 0 15px; */
  height: 100%;
  width: 100%;
}

.urban_money_page_title_page {
  padding: 20px;
  background: #009D93;
  color: #fff;
}

.p-20 {
  padding: 20px;
}